[Unit]
Description=polipo
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/polipo -c /etc/polipo/config
[Install]
WantedBy=multi-user.target
