[Unit]
Description=scrapyd
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/tungpd/envs/py3/bin/scrapyd 

[Install]
WantedBy=multi-user.target

